@page 
@model IndexModelSH6
@{
    ViewData["Title"] = "Social Humanistica Unidad 6";
    ViewData["titulo2"]= "Formas Iniciales de la industria en Guatemala";
    ViewData["autor1"] = "Edeliberto Cifuentes Medina";
    ViewData["autor2"] = "Jorge AML";
}
<h1>@ViewData["titulo2"]</h1>
<h6>@ViewData["Title"], @ViewData["autor1"]</h6>
<h3>Introducción</h3>
<p>En mi corta estadía en el instituto de investigaciones históricas, antropológicas</p>




<!--When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$-->