<section id="part1">
  <div class="container-column">
    <div class="container-row">
      <div class="column card2023">
        <h2>Anatomia</h2>
        <p>Something here</p>
      </div>
      <div class="column card2023">
        <h2>Fisiologia</h2>
        <p>Something here</p>
      </div>
      <div class="column card2023">
        <h2>Bioquimica</h2>
        <p>Something here</p>
      </div>
    </div>
  </div>
</section>
