<section id="part1">
  <div class="container-column">
    <div class="container-row">
      <div class="column">Columna 1</div>
      <div class="column">Columna 2</div>
      <div class="column">Columna 3</div>
    </div>
  </div>
</section>
