<div>
  <h3 class="banner">Encuentra todos los recursos necesarios hechos por estudiantes</h3>
</div>
<div id="part1">
  <div class="container-column">
    <div class="container-row">
      <div class="column card2023">
        <h2 class="">Anatomia</h2>
        <p>El origen de la anatomía se remonta en el antiguo Egipto, donde, ya entre los siglos XXX y XXVIII a.C. los embalsamadores fueron los primeros en poner en práctica la disección como técnica anatómica, si bien su aplicación no obedecía aún a motivaciones sanitarias o de investigación médica, sino a rituales religiosos.</p>
        <a class="a-mr" href="/anatomia">
          <button class="b-mr">Ver recursos</button>
        </a>
      </div>
      <div class="column card2023">
        <h2 class="">Fisiologia</h2>
        <p>
          La fisiología (del griego physis, naturaleza y logos, conocimiento, estudio) es la ciencia que estudia las funciones de los seres vivos. La anatomía y fisiología son campos de estudio estrechamente relacionados en donde la primera hace hincapié en el conocimiento de la forma mientras que la segunda pone interés en el estudio de la función de cada parte del cuerpo, siendo ambas áreas de vital importancia en el conocimiento médico general.
        </p>
        <a class="a-mr" href="/fisiologia">
          <button class="b-mr">Ver recursos</button>
        </a>
      </div>
      <div class="column card2023">
        <h2 class="">Bioquimica</h2>
        <p>La bioquímica es una ciencia que estudia la composición química de los seres vivos, especialmente las proteínas, carbohidratos, lípidos y ácidos nucleicos, además de otras pequeñas moléculas presentes en las células y las reacciones químicas que sufren estos compuestos (metabolismo) que les permiten obtener energía (catabolismo) y generar biomoléculas propias (anabolismo).</p>
        <a class="a-mr" href="/bioquimica">
          <button class="b-mr">Ver recursos</button>
        </a>
      </div>
    </div>
    <!--SECOND ROW-->
    <div class="container-row">
      <div class="column card2023">
        <h2 class="">Histologia</h2>
        <p>La histología (del griego ἱστός/histós, "tejido", y λογία/logía, "tratado, estudio, disciplina") es la disciplina que estudia todo lo relacionado con los tejidos orgánicos: su estructura microscópica, su desarrollo y sus funciones. Las primeras investigaciones histológicas fueron posibles a partir del año 1600, cuando se incorporó el microscopio a los estudios anatómicos. Marcello Malpighi es el fundador de la histología y su nombre aún está ligado a varias estructuras histológicas.</p>
        <a class="a-mr" href="/histologia">
          <button class="b-mr">Ver recursos</button>
        </a>
      </div>
      <div class="column card2023">
        <h2 class="">Salud Publica</h2>
        <p>
          La salud pública es la disciplina encargada de la protección, acomodación y sustentación filosófica y mejora de la salud de la población humana. Tiene como objetivo mejorar la salud, así como el control y la erradicación de las enfermedades.1 Es una ciencia de carácter multidisciplinario, ya que utiliza los conocimientos de otras ramas como las ciencias biológicas, conductuales, sanitarias y sociales. Es uno de los pilares en la formación de todo profesional de la salud.
        </p>
        <a class="a-mr" href="/salud">
          <button class="b-mr">Ver recursos</button>
        </a>
      </div>
      <div class="column card2023">
        <h2 class="">Semiologia</h2>
        <p>En medicina, la semiología clínica es el cuerpo de conocimientos que se ocupa de cómo identificar las diversas manifestaciones patológicas (signos o manifestaciones clínicas objetivas y síntomas o percepciones subjetivas), de cómo buscar estas manifestaciones (semiotecnia), de cómo reunirlas en síndromes, y de cómo interpretarlas, jerarquizarlas y razonarlas (clínica semiológica o propedéutica). Gracias a ese cuerpo de conocimiento se puede llegar al diagnóstico.</p>
        <a class="a-mr" href="/semiologia">
          <button class="b-mr">Ver recursos</button>
        </a>
      </div>
    </div>
  </div>
  
  
</div>



