:root {
    --shadow-color: #242424;
    --border-card: 5px solid #28323A;
    --border-thin: 10px solid #FFEBCC;
    --border-color: #28323A;
}
@media (min-width: 1200px) {
    .card2023 {
        box-shadow: 6px 6px 1px -1px var(--shadow-color);
        border: var(--border-card);
        border-radius: 10px;
    }
    .card2023 > h2 {
        padding: 2%;
        margin: 0;
        font-family: var(--titles);
        text-align: center;
        writing-mode: horizontal-tb;
    }
    .card2023 > p {
        height: 40px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        padding: 3%;
        text-align: justify; 
    }
    .b-mr {
        background-color: transparent;
        border: 6px solid var(--border-color);
        padding: 1%;
        font-family: var(--titles);
        margin: 2%;
        border-radius: 15px;
        color: var(--global-color);
    }
    .b-mr:hover{
        background-color: none;
        color: #FF9600;
        cursor: pointer;
        border-radius: 15px;
    }
    .c1 {
        background-color: #EAC7B2;
    }
    .c2 {
        background-color: #BCCAD9;
    }
    .c3 {
        background-color: #B1C8C2;
    }
    .c4 {
        background-color: #EBE8B3;
    }
    .c5 {
        background-color: #9BD3A4;
    }
    .c6 {
        background-color: #DA746C;
    }
}