/*SCREENS 1200px AND LARGER*/
@media (min-width: 1200px) {
    :root {
        font-size: 0.9em;
        --fontA: 'Bowlby One SC', cursive;
    }
    .title-nav {
        font-family: var(--fontA);
    }
    nav li {
        display: inline-block;
        font-size: 2em;
        border-bottom: 4px solid black;
    }
    nav {
        list-style-type: none;
        text-align: center;
    }
}
@media (min-width: 359px) {
    .title-nav {
        font-size: 2em;
        font-family: 'Bowlby One SC', cursive;
    }
    nav {
        text-align: center;
    }
    nav li {
        display: inline-block;
        list-style-type: none;
        border-bottom: 4px solid black;
    }
}


