@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3>Social Humanistica Unidad 6</h3>
                    <p>Formas iniciales de la industria en Guatemala</p>
                    <a href="./SH/sh6"><button type="button" class="btn btn-primary">Llevame al zelda</button></a>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3>Social Humanistica Unidad 7</h3>
                    <p>Urbanismo y desarrollo de las ciudades</p>
                    <a href="./SH/sh6"><button type="button" class="btn btn-primary">Llevame al zelda</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3>Deportes 2</h3>
                    <p>Contenido para examen final</p>
                    <a href="./Deportes/dep"><button type="button" class="btn btn-primary">Llevame al zelda Mamahuevo</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
